#controls i:hover {
    cursor: pointer;
}

.container {
    width: 400px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#progress {
    margin-bottom: 20px;
}

#progress .times , .card-footer, #controls-volume{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#music-details .title{
   margin: 0;
   font-weight: 600 !important;

}

#music-details .singer {
    text-transform: uppercase;
    font-style: italic;
    color: rgb(61, 60, 60);
}

li.oynatiliyor {
    background-color: #000;
    color: #fff;
}
  /* #controls {
    display: flex;
    align-items: center;
     justify-content: center; 
}  */

/* .text-center , .text-end {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
} */


/* #controls {
    display: grid;
    grid-template-columns: auto auto;
} */








